@model SearchString

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h2> What movie would you like to search for?</h2>
    <form asp-controller="Movie" asp-action="Index">
        <input asp-for="@Model.Name" value="" />
        <button type="submit">Search</button>
    </form>
</div>
