@model ShortMovieApi

@foreach(var movie in Model.Search)
{
    <h3>
        @movie.Title
    </h3>
    <p>
        @movie.Year
    </p>
    <img src="@movie.Poster" />
    <form asp-controller="Movie" asp-action="AddToFavorites">        
        <button type="submit" value="@movie.imdbID" name="movieToAddID" >Add To Favs</button>
    </form>
}


